<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    <script type="text/javascript" src="script.js" defer></script>

    <title>Goal Tracker</title>
  </head>
  <body>
    <div id="app">
      <div class="head">
        <div class="goals">
          Goal<br>
          <input
            type="text"
            id="enterGoal"
            placeholder="Enter Goal"
          >
        </div>
        <div class="motivation">
          Motivation/s<br>
          <input
            id="enterMotivation"
            type="text"
            placeholder="Enter Motivation"
            value=""
          >
        </div>
      </div>
      <div class="month">
        <div class="monthly-goals">Monthly Goals</div>
        <section id="textarea">
          <ul>
            <li>Goal: <input type="text" id="g1"></li>
            <li>Goal: <input type="text" id="g2"></li>
            <li>Goal: <input type="text" id="g3"></li>
            <li>Goal: <input type="text"></li>
          </ul>
        </section>
      </div>

      <div class="weekly-goals">Weekly Goals
        <div class="week">
          1 2 3 4 5
          <input type="checkbox">
        </div>
      </div>

      <button @click="reload">refresh</button>
      {{ checkboxes }}

      <div class="daily-goals">
        Daily Goals
        <table class="day">
          <tr>
            <th>
              <input
              class="d-width"
              type="text"
              readonly
              >
            </th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th>31</th>
          </tr>
          <tr>
            <td><input class="d-width" type="text"></td>
            <td
              v-for="(checkbox, checkboxIndex) in checkboxes"
              :key="'checkbox' + checkboxIndex"
            >
              <input type="checkbox" v-model="checkboxes[checkboxIndex]">
            </td>
          </tr>
        </table>
        <form name="frm">
          <tr>
            <td><input type="text" name="count" value="0"></td>
            <td><INPUT type="button" value="ADD" name="add" onClick="incrementCount()"></td>
            <td><INPUT type="button" value="Remove" name="remove" onClick="decCount()"></td>
          </tr>
        </form>
      </div>
    </div>
  </body>
</html>
